.map-container {
    position: relative;
    height: calc(100vh - 80px); /* 減去導覽列的高度 */
    overflow: hidden; /* 禁止頁面滾動 */
}

.layer-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
    flex-direction: column; /* 按鈕垂直排列 */
}

.layer-buttons button {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.layer-buttons button:hover {
    background-color: #f0f0f0;
}

