.custom-card {
    background-color: #f0f2f5; /* 浅灰色背景 */
    border: 10px solid #e8e8e8; /* 边框 */
    border-radius: 4px;

    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}

.placeholder {
    text-align: center;
    font-size: 16px;
    color: #595959; /* 深灰色文字 */
}
.con {
    margin-top: 80px; /* 向下移动20像素 */
    max-width: 100%;
    max-height: 100%;
}
